<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kyc.nashidmrz">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />


    <application>
        <activity
            android:name=".CameraRectangle"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mrtd2.WaitingForNfcActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mrtd2.ReadingPassportActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mrtd2.ResultDisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mrtd2.HomeLibrary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComparisionSuccessful"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Camera_Result"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NFC_result_Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".FaceialMatchingResult"
            android:screenOrientation="portrait" />

        <activity android:name="com.mv.liveness.LivenessMainActivity"
            android:screenOrientation="portrait"
            android:exported="true"></activity>

    </application>
</manifest>

